<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>HardwaRepair</title>

        <link rel="stylesheet" href="style.css">
</head>

<body>
	
	<header id="main-header">
		
		<a id="logo-header" href="#">
			<img src="Logo.png" width="60" height="60">
		</a> <!-- / #logo-header -->

		<nav>
				<a id="usuari" href="cap%C3%A7alera.html">
                    <p id="usuari_txt">ADMINISTRADOR</p><img src="usuari.png" width="45" height="45">
		          </a> <!-- / #logo-header -->
		</nav><!-- / nav -->

	</header><!-- / #main-header -->

	
	<section id="main-content">
	
		<article>
			<header>
				<h1>Exemple Capçalera</h1>
			</header>
			
			<img src="http://placekitten.com/800/250" alt="Gatito" />
			
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</div>
<div>
            
            
            </div>
            <h1>Crear Client</h1>
            <table id="table">
                  <tr>
                      <td>
                          <p>Nom<br/>
                    <input id="txtBox" type="text" name="nombre"/></p>
                     
                          <p>Cognoms<br/>
                    <input id="txtBox" type="text" name="nombre"/></p>
                     
                          <p>Adreça<br/>
                    <input id="txtBox" type="text" name="nombre"/></p>
                    
                         
                      </td>
                      
                      <td>
                      
                          <p>DNI<br/>
                    <input id="txtBox" type="text" name="nombre"/></p>
                      
                          <p>Telèfon<br/>
                    <input id="txtBox" type="text" name="nombre"/></p>
                      
                          <p>Codi Postal<br/>
                    <input id="txtBox" type="text" name="nombre"/></p>
                 
                      </td>
                  </tr>
            
            </table>
      
            
            
            <button id="botoC">Cancel·la</button>
         
            <button id="botoG">Crear</button>
            
            
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <h1>Agregar Client</h1>
<!--            <input id="txtBox" type="text" name="nombre"/>-->
            
            
            <form name="formulario" method="post" action="/send.php">
  <!-- Campo de texto combinado con lista de opciones -->
  <input type="text" list="items" />
  <!-- Lista de opciones -->
  <datalist id="items">
    <option value="1">Opción 1</option>
    <option value="2">Opción 2</option>
    <option value="3">Opción 3</option>
  </datalist>
               <button id="botoB" >Busca</button><br>        
                
                
</form>
            
            
            
     
<!--
            
  <label><input type="checkbox" id="cbox1" value="first_checkbox"> 47837422M</label>
              <label><input type="checkbox" id="cbox1" value="first_checkbox"> 47837422M</label>
              <label><input type="checkbox" id="cbox1" value="first_checkbox"> 47837422M</label>
              <label><input type="checkbox" id="cbox1" value="first_checkbox"> 47837422M</label>
            
            <div>
-->
            
<!--
             <table id="tbusca">
            <hr>
            
            <p id="busca">47837422M ---- Manuel Turizo</p>
            
            <hr>
            
            
            <hr>
            
             <p id="busca">47837422M ---- Manuel Turizo</p>
            
            <hr>
            
            <hr>
            
          <p id="busca">47837422M ---- Manuel Turizo</p>
            
            <hr>
            
            <hr>
            
            <p id="busca">47837422M ---- Manuel Turizo</p>
            
            <hr>
            
            <hr>
            
             <p id="busca">47837422M ---- Manuel Turizo</p>
            
            <hr>
      
            </table>
-->
            
            
<!--            </div>-->
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            
            
           
		</article> <!-- /article -->
	
	</section> <!-- / #main-content -->

	
	
	<footer id="main-footer">
	</footer> <!-- / #main-footer -->

	
</body>
</html>

