/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

h1 {
	font-size: 2.3em;
	text-align: left;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

#busca {
	padding-left: 20px;
    padding-top: 20px;
}

img {
	max-width: 100%;
	height: auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #ffff;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
    right: auto;
	position: fixed;
    align-items: center;
    align-content: center;
    
}	
	#main-header a {
		color: black;
        align-items: center;
        align-content: center;
        margin-right: 2 5px
        
	}
	
	
/*
 * Logo
 */



#usuari {
	float: right;
	text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-right: 35px;
    
}


#usuari:hover {
		color:  #0b76a6;
}


#usuari_txt {
	float: left;
	padding: 10px 9px 0px 0px;
	text-decoration: none;
}







#logo-header {
	float: left;
	padding: 7px 0 0 70px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
	



/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}


	#txtBox{
	align-items: center;
  padding: 0.5em 0em 1em 1em;
    border-radius: 7px; 
        
	}

#txtBox:select {
		border-color: #0b76a6;  
        
}

table{
margin-top: auto;
 
}

#tbusca{
width: 100½;
    height: 100½;
    border-color: black;
    border-radius: 15px;
  border: black 1px solid;
    
 
}


/************
//-----------------------------
// Botons
//-----------------------------
************/

#botoG {
	background: #2363D1;
	text-align: center;
    padding: 7px 7px 7px 7px; 
    border-radius: 7px;
    position: static;
    float: right;
    margin-right: 20px;
}

#botoC {
	background: #bfb9b9;
	text-align: center;
    padding: 7px 7px 7px 7px; 
    border-radius: 7px;
    position: static;
    float: right;
    margin-right: 20px;

}


#botoB {
	background: #bfb9b9;
	text-align: center;
    padding: 7px 7px 7px 7px; 
    border-radius: 7px;
    position: static;
    margin-right: 20px;

}

	


/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

