<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>Crea Incidencies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <script src="../webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <link href="../webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
        th, td {
            padding: 15px;
        }
    </style>

    <body>
        <section th:fragment="creaIncidencia">
            <div>
                <h1>Crea Incidencia</h1>
            </div>
            <br/>

            <form th:action="@{/guardarIncidenciaCrear}" method="POST" th:object="${incidencia}">

                <div class="modal-body">

                    <table border="0" padding="20px">
                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="id_incidencia" th:text="#{Incidencia.id}">ID Incidencia :</label>

                                    <input type="text" id="id_incidencia" name="id_incidencia" th:field="*{id_incidencia}" placeholder="ID Incidència"/>
                                    <span th:if="${#fields.hasErrors('id_incidencia')}" th:errors="*{id_incidencia}"></span>

                                </div>
                            </td>
                            <td>   
                                <div class="form-group">


                                    <label for="data_creacio" th:text="#{Incidencia.dataCreacio}">Data Creacio :</label>

                                    <input type="date" id="data_creacio" name="data_creacio" th:field="*{data_creacio}" placeholder="Data Creacio"/>
                                    <span th:if="${#fields.hasErrors('data_creacio')}" th:errors="*{data_creacio}"></span>

                                </div>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">


                                    <label for="preu_total" th:text="#{Incidencia.preuTotal}">Preu Total :</label>

                                    <input type="number" id="preu_total" name="preu_total" th:field="*{preu_total}" placeholder="Preu Total"/>
                                    <span th:if="${#fields.hasErrors('preu_total')}" th:errors="*{preu_total}"></span>

                                </div>

                            </td>

                            <td>

                                <div class="form-group">


                                    <label for="tipus_equip" th:text="#{Incidencia.tipusEquip}">Tipus Equip </label>

                                    <!--<input type="text" id="tipus_equip" name="tipus_equip" th:field="*{tipus_equip}" placeholder="Tipus Equip"/>-->

                                    <select name="tipus_equip" id="tipus_equip" th:field="*{tipus_equip}" >
                                        <option th:each="tipus_equip : ${tipus_equips}" th:value="${tipus_equip.id_tipus_equip}" th:text="${tipus_equip.nom}"></option>
                                    </select>


                                    <span th:if="${#fields.hasErrors('tipus_equip')}" th:errors="*{tipus_equip}"></span>


                                    <!--<label for="tipusEquip" th:text="#{Incidencia.tipusEquip}">Tipus Equip :</label>-->
                                    <!--<input type="text" id="start" name="dataCreacio" value="" min="today">-->

                                </div> 

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">


                                    <label for="reparador" th:text="#{Incidencia.reparador}">Reparador </label>

                                    <input type="text" id="reparador" name="reparador" th:field="*{reparador}" placeholder="Reparador"/>
                                    <span th:if="${#fields.hasErrors('reparador')}" th:errors="*{reparador}"></span>


                                    <!--<label for="reparador" th:text="#{Incidencia.reparador}">Reparador :</label>-->
                                    <!--<input type="text" class="form-control" name="reparador" id="reparador"/>-->

                                </div>
                            </td>

                            <td>
                                <div class="form-group">



                                    <label for="equip_a_reparar_id" th:text="#{Incidencia.idEquip}">ID Equip </label>

                                    <input type="text" id="equip_a_reparar_id" name="equip_a_reparar_id" th:field="*{equip_a_reparar_id}" placeholder="ID Equip"/>
                                    <span th:if="${#fields.hasErrors('equip_a_reparar_id')}" th:errors="*{equip_a_reparar_id}"></span>



                                    <!--<label for="idEquip" th:text="#{Incidencia.idEquip}">ID Equip:</label>-->
                                    <!--<input type="text" class="form-control" name="idEquip" id="idEquip" list="equips"/>-->

                                    <!--<a th:href="@{/creaEquip}" th:text="#{accion.creaEquip}">Crea Equip</a>-->

                                    <a th:href="@{/creaEquip}" th:text="#{accion.creaEquip}" class="btn btn-primary" type="button"></a>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">


                                    <label for="tipus_operacio_id" th:text="#{Incidencia.tipusOperacio}">Tipus Operacio </label>


                                    <select name="tipus_operacio_id" id="tipus_operacio_id" th:field="*{tipus_operacio_id}" >
                                        <option th:each="tipus_operacio : ${tipus_operacions}" th:value="${tipus_operacio.id_tipus_operacio}" th:text="${tipus_operacio.nom}"></option>
                                    </select>

                                    <!--<input type="text" id="tipus_operacio_id" name="tipus_operacio_id" th:field="*{tipus_operacio_id}" placeholder="Tipus Operacio"/>-->
                                    <span th:if="${#fields.hasErrors('tipus_operacio_id')}" th:errors="*{tipus_operacio_id}"></span>

                                    <!--<label for="tipusOperacio" th:text="#{Incidencia.tipusOperacio}">Tipus Operacio :</label>-->
                                    <!--<input type="text" class="form-control" name="tipusOperacio" id="tipusOperacio"/>-->

                                </div>
                            </td>

                            <td>
                                <div class="form-group">


                                    <label for="creador" th:text="#{Incidencia.idCreador}">ID Creador</label>

                                    <input type="text" id="creador" name="creador" th:field="*{creador}" placeholder="ID Creador"/>
                                    <span th:if="${#fields.hasErrors('creador')}" th:errors="*{creador}"></span>

                                    <!--<label for="creador" th:text="#{Incidencia.idCreador}">ID Creador :</label>-->
                                    <!--<input type="text" class="form-control" name="idCreador" id="idCreador"/>-->

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">



                                    <label for="cliente_id" th:text="#{Incidencia.idClient}">ID Client</label>

                                    <input type="text" id="cliente_id" name="cliente_id" th:field="*{cliente_id}" placeholder="ID Client"/>
                                    <span th:if="${#fields.hasErrors('cliente_id')}" th:errors="*{cliente_id}"></span>


                                    <!--<label for="idClient" th:text="#{Incidencia.idClient}">ID Client:</label>-->
                                    <!--<input type="text" class="form-control" name="IdClient" id="idClient" list="clients"/>-->


                                    <!--<a th:href="@{/creaClient}" th:text="#{accion.creaClient}">Crea Client</a>-->

                                    <a type="button" th:href="@{/creaClient}" class="btn btn-primary" th:text="#{accion.creaClient}"></a>
                                    <!--<a th:href="@{/crearEquip}"><button class="btn btn-secondary" type="submit" th:text="#{accion.crearClient}">Crea Client</button></a>-->

                                </div>
                            </td>

                            <td>

                                <div class="form-group">


                                    <label for="data_resolucio" th:text="#{Incidencia.dataResolucio}">Data Resolucio </label>

                                    <input type="date" id="data_resolucio" name="data_resolucio" th:field="*{data_resolucio}" placeholder="Data Resolucio "/>
                                    <span th:if="${#fields.hasErrors('data_resolucio')}" th:errors="*{data_resolucio}"></span>


                                    <!--<label for="dataResolucio" th:text="#{Incidencia.dataResolucio}">Data Resolucio :</label>-->
                                    <!--<input type="date" id="dataResolucio" name="dataResolucio" value="" min="today">-->

                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <input type="checkbox" class="btn-check" id="soluGarantia" autocomplete="on"/>
                                <label for="soluGarantia" th:text="#{Incidencia.soliGarantia}">Sol·licitud de Garantia : </label>

                                <input type="checkbox" class="btn-check" id="garantia" autocomplete="on"/>
                                <label for="garantia" th:text="#{Incidencia.garantia}">En Garantia :</label>
                            </td>

                            <td>

                                <div class="form-group">


                                    <label for="num_factura_garantia" th:text="#{Incidencia.numFactGarantia}">Num. Factura Garantia</label>

                                    <input type="text" id="num_factura_garantia" name="num_factura_garantia" th:field="*{num_factura_garantia}" placeholder="Num. Factura Garantia"/>
                                    <span th:if="${#fields.hasErrors('num_factura_garantia')}" th:errors="*{num_factura_garantia}"></span>


                                    <!--<label for="numFactGarantia" th:text="#{Incidencia.numFactGarantia}">Num Factura Garantia :</label>-->
                                    <!--<input type="text" class="form-control" name="numFactGarantia" id="numFactGarantia"/>-->

                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="descripcio_averia" th:text="#{Incidencia.descripcio}">Descripcio Averia</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span th:if="${#fields.hasErrors('descripcio_averia')}" th:errors="*{descripcio_averia}"></span>
                                        </div>
                                        <textarea type="text" id="descripcio_averia" name="descripcio_averia" th:field="*{descripcio_averia}" placeholder="Descripcio Averia" class="form-control" aria-label="With textarea"/>
                                    </div>

                                    <!--<label for="decripcio" th:text="#{Incidencia.descripcio}">Descripcio :</label>-->
                                    <!--<input type="text" class="form-control" name="descripcio" id="descripcio"/>-->

                                </div>
                            </td>

                            <td>
                                <label for="productesUtilitzats" th:text="#{Incidencia.productesUtilitzats}">Productes Utilitzats :</label>
                                <button class="btn btn-primary" type="submit" th:text="#{accion.afegirProducte}">Afegir Producte</button> <br/>
                                <div class="from-group">

                                    <table id="tableProductes" border="1">
                                        <tr>
                                            <td>
                                                <label for="nomProducte" th:text="#{Incidencia.nomProducte}">Nom</label>
                                            </td>

                                            <td>
                                                <label for="marcaProducte" th:text="#{Incidencia.marcaProducte}">Marca</label>
                                            </td>

                                            <td>
                                                <label for="categoriaProducte" th:text="#{Incidencia.categoriaProducte}">Categoria</label>
                                            </td>

                                            <td>
                                                <label for="quantittatProducte" th:text="#{Incidencia.quantitatProducte}">Quantitat</label>
                                            </td>
                                        </tr>
                                        <tr>

                                        </tr>

                                    </table>
                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="estat_id" th:text="#{Incidencia.estat_id}">Estat</label>

                                <select name="estat_id" id="estat_id" th:field="*{estat_id}" >
                                    <option th:each="estat : ${estats}" th:value="${estat.id_estat}" th:text="${estat.nom}"></option>
                                </select>


                                <!--<input type="number" id="estat_id" name="estat_id" th:field="*{estat_id}" placeholder="Estat ID"/>-->
                                <span th:if="${#fields.hasErrors('estat_id')}" th:errors="*{estat_id}"></span>

                            </td>

                        </tr>
                    </table>
                </div>
                <div  class="modal-footer">
                    <a type="button" th:href="@{/llistatIncidencies}" th:text="#{accion.cancelar}" class="btn btn-secondary"></a>
                    <input type="submit" name="enviar" value="Guardar" class="btn btn-primary"/>
                </div>
            </form>
        </section>
    </body>
</html>
