<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Selecció Client</title>
        <meta charset="UTF-8"/>
    </head>
    <body>


        <section th:fragment="detallsIncidencia">
            <div>
                <h1> Incicdencia</h1>
            </div>

            <form th:action="@{/detallsIncidencia}" method="POST" th:object="${Incidencia}" class="was-validated">
                <div class="modal-body">

                    <div class="form-group">

                        <label for="idIncidencia" th:text="#{Incidencia.id}">ID Incidencia :</label>
                        <input type="text" class="form-control" name="idIncidencia" id="idIncidencia"/>

                    </div>

                    <div class="form-group">

                        <label for="preuTotal" th:text="#{Incidencia.preuTotal}">Preu Total :</label>
                        <input type="text" class="form-control" name="preuTotal" id="preuTotal"/>

                    </div>

                    <div class="form-group">

                        <label for="reparador" th:text="#{Incidencia.reparador}">Reparador :</label>
                        <input type="text" class="form-control" name="reparador" id="reparador"/>

                    </div>

                    <div class="form-group">

                        <label for="tipusOperacio" th:text="#{Incidencia.tipusOperacio}">Tipus Operacio :</label>
                        <input type="text" class="form-control" name="tipusOperacio" id="tipusOperacio"/>

                    </div>


                    <div class="form-group">

                        <label for="idClient" th:text="#{Incidencia.idClient}">ID Client:</label>
                        <input type="text" class="form-control" name="IdClient" id="idClient" list="clients"/>



                        <button class="btn btn-secondary" type="submit" th:text="#{accion.crearClient}">Crea Client</button>

                    </div>


                    <div class="form-group">

                        <label for="soluGarantia" th:text="#{Incidencia.soliGarantia}">Sol·licitud de Garantia : <input type="checkbox" id="soliGarantia" value="soliGarantia"></label>
                        <label for="garantia" th:text="#{Incidencia.garantia}">En Garantia : <input type="checkbox" id="garantia" value="garantia"></label>

                    </div>


                    <div class="form-group">

                        <label for="decripcio" th:text="#{Incidencia.descripcio}">Descripcio :</label>
                        <input type="text" class="form-control" name="descripcio" id="descripcio"/>

                    </div>



                    //Columna 2



                    <div class="form-group">

                        <label for="dataCreacio" th:text="#{Incidencia.dataCreacio}">Data Creacio :</label>
                        <input type="date" id="dataCreacio" name="dataCreacio" value="" min="today">

                    </div>

                    <div class="form-group">

                        <label for="tipusEquip" th:text="#{Incidencia.tipusEquip}">Tipus Equip :</label>
                        <input type="text" id="start" name="dataCreacio" value="" min="today">

                    </div> 

                    <div class="form-group">

                        <label for="idEquip" th:text="#{Incidencia.idEquip}">ID Equip:</label>
                        <input type="text" class="form-control" name="idEquip" id="idEquip" list="equips"/>

                        <button class="btn btn-secondary" type="submit" th:text="#{accion.crearEquip}">Crea Equip</button>

                    </div>

                    <div class="form-group">

                        <label for="idCreador" th:text="#{Incidencia.idCreador}">ID Creador :</label>
                        <input type="text" class="form-control" name="idCreador" id="idCreador"/>

                    </div>


                    <div class="form-group">

                        <label for="dataResolucio" th:text="#{Incidencia.dataResolucio}">Data Resolucio :</label>
                        <input type="date" id="dataResolucio" name="dataResolucio" value="" min="today">

                    </div>


                    <div class="form-group">

                        <label for="numFactGarantia" th:text="#{Incidencia.numFactGarantia}">Num Factura Garantia :</label>
                        <input type="text" class="form-control" name="numFactGarantia" id="numFactGarantia"/>

                    </div>

                    <div class="from-group">

                        <label for="productesUtilitzats" th:text="#{Incidencia.productesUtilitzats}">Productes Utilitzats :   <button class="btn btn-secondary" type="submit" th:text="#{accion.afegirProducte}">Afegir Producte</button></label>
                        <table id="tableProductes">
                            <tr>
                                <td>
                                    <label for="nomProducte" th:text="#{Incidencia.nomProducte}">Nom</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="marcaProducte" th:text="#{Incidencia.marcaProducte}">Marca</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="categoriaProducte" th:text="#{Incidencia.categoriaProducte}">Categoria</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="quantittatProducte" th:text="#{Incidencia.quantitatProducte}">Quantitat</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div  class="modal-footer">
                    <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                </div>
            </form>
        </section>
    </body>
</html>
