<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>CreaIncidencia</title>
        <meta charset="UTF-8"/>
    </head>
    <style>
        th, td {
            padding: 15px;
        }
    </style>


    <body>


        <section th:fragment="creaIncidencia">
            <div>
                <h1> Crea Incidencia</h1>
            </div>
            <br/>
            <form th:action="@{/detallsIncidencia}" method="POST" th:object="${Incidencia}" class="was-validated">

                <div class="modal-body">


                    <table border="0" padding="20px">
                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="idIncidencia" th:text="#{Incidencia.id}">ID Incidencia :</label>
                                    <input type="text" class="form-control" name="idIncidencia" id="idIncidencia"/>

                                </div>
                            </td>
                            <td>   
                                <div class="form-group">

                                    <label for="dataCreacio" th:text="#{Incidencia.dataCreacio}">Data Creacio :</label>
                                    <input type="date" id="dataCreacio" name="dataCreacio" value="" min="today">

                                </div>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="preuTotal" th:text="#{Incidencia.preuTotal}">Preu Total :</label>
                                    <input type="text" class="form-control" name="preuTotal" id="preuTotal"/>

                                </div>

                            </td>

                            <td>

                                <div class="form-group">

                                    <label for="tipusEquip" th:text="#{Incidencia.tipusEquip}">Tipus Equip :</label>
                                    <input type="text" id="start" name="dataCreacio" value="" min="today">

                                </div> 

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="reparador" th:text="#{Incidencia.reparador}">Reparador :</label>
                                    <input type="text" class="form-control" name="reparador" id="reparador"/>

                                </div>
                            </td>

                            <td>
                                <div class="form-group">

                                    <label for="idEquip" th:text="#{Incidencia.idEquip}">ID Equip:</label>
                                    <input type="text" class="form-control" name="idEquip" id="idEquip" list="equips"/>

                                    <!--<a th:href="@{/creaEquip}" th:text="#{accion.creaEquip}">Crea Equip</a>-->
                                    <button><a th:href="@{/creaEquip}" th:text="#{accion.creaEquip}"></a></button>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="tipusOperacio" th:text="#{Incidencia.tipusOperacio}">Tipus Operacio :</label>
                                    <input type="text" class="form-control" name="tipusOperacio" id="tipusOperacio"/>

                                </div>
                            </td>

                            <td>
                                <div class="form-group">

                                    <label for="idCreador" th:text="#{Incidencia.idCreador}">ID Creador :</label>
                                    <input type="text" class="form-control" name="idCreador" id="idCreador"/>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="idClient" th:text="#{Incidencia.idClient}">ID Client:</label>
                                    <input type="text" class="form-control" name="IdClient" id="idClient" list="clients"/>


                                    <!--<a th:href="@{/creaClient}" th:text="#{accion.creaClient}">Crea Client</a>-->
                                    <button><a th:href="@{/creaClient}" th:text="#{accion.creaClient}"></a></button>


                                    <!--<a th:href="@{/crearEquip}"><button class="btn btn-secondary" type="submit" th:text="#{accion.crearClient}">Crea Client</button></a>-->

                                </div>
                            </td>

                            <td>

                                <div class="form-group">

                                    <label for="dataResolucio" th:text="#{Incidencia.dataResolucio}">Data Resolucio :</label>
                                    <input type="date" id="dataResolucio" name="dataResolucio" value="" min="today">

                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                        <form:checkbox path="garantia"/>
                        <form:checkbox path="solicitud_pressupost"/>

                        <label for="soluGarantia" th:text="#{Incidencia.soliGarantia}">Sol·licitud de Garantia : </label>
                        <label for="garantia" th:text="#{Incidencia.garantia}">En Garantia :</label>
                        </td>

                        <td>

                            <div class="form-group">

                                <label for="numFactGarantia" th:text="#{Incidencia.numFactGarantia}">Num Factura Garantia :</label>
                                <input type="text" class="form-control" name="numFactGarantia" id="numFactGarantia"/>

                            </div>
                        </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="form-group">

                                    <label for="decripcio" th:text="#{Incidencia.descripcio}">Descripcio :</label>
                                    <input type="text" class="form-control" name="descripcio" id="descripcio"/>

                                </div>
                            </td>

                            <td>
                                <label for="productesUtilitzats" th:text="#{Incidencia.productesUtilitzats}">Productes Utilitzats :   </label>
                                <button class="btn btn-secondary" type="submit" th:text="#{accion.afegirProducte}">Afegir Producte</button> <br/>
                                <div class="from-group">

                                    <table id="tableProductes" border="1">
                                        <tr>
                                            <td>
                                                <label for="nomProducte" th:text="#{Incidencia.nomProducte}">Nom</label>
                                            </td>

                                            <td>
                                                <label for="marcaProducte" th:text="#{Incidencia.marcaProducte}">Marca</label>
                                            </td>

                                            <td>
                                                <label for="categoriaProducte" th:text="#{Incidencia.categoriaProducte}">Categoria</label>
                                            </td>

                                            <td>
                                                <label for="quantittatProducte" th:text="#{Incidencia.quantitatProducte}">Quantitat</label>
                                            </td>
                                        </tr>
                                        <tr>

                                        </tr>

                                    </table>
                                </div>

                            </td>
                        </tr>     
                    </table>
                </div>
                <div  class="modal-footer">
                    <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                    
                    <button><a th:href="@{/llistatIncidencies}" th:text="#{accion.cancelar}"></a></button>
                </div>
            </form>
        </section>
    </body>
</html>
