<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

        <title th:text="#{Client.crearClient}"></title> <!-- AQUÍ VA EL TITULO DE LA PÁGINA

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <script src="../webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <link href="../webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    </head>

    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark  ">

            <div class="mb-2 mb-md-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle"
                     viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                <label class="text-white bg-dark" th:text="${username}"></label>
            </div>

        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/llistatIncidencies}">
                                    <span class="bi bi-tools"></span>
                                    Incidencies
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/llistarProductes}">
                                    <span class="bi bi-box"></span>
                                    Productes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/llistarCategories}">
                                    <span class="bi bi-files"></span>
                                    Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/inici}">
                                    <span class="bi bi-tools"></span>
                                    Selecció de Mòdul
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="bi bi-box-arrow-right"></span>
                                    Tancar Sessió
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2" th:text="#{Client.crearClient}"> </h1> <!-- AQUÍ VA EL TITULO DEL FORMULARIO -->
                    </div>

                    <form th:action="@{/guardarClientCrear}" method="post" th:object="${client}">

                        <div class="row kt-margin-b-20">
                            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                                <label style="font-weight: bold;" for="dni" th:text="#{Client.dni}">DNI: </label>                               
                                <div class="input-icon">


                                    <input class="form-control" type="text" id="dni" name="dni" th:field="*{dni}" placeholder="DNI"/>
                                    <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>


                                </div>
                            </div>
                            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                                <label style="font-weight: bold;" for="nom" th:text="#{Client.nom}">Nom:</label>
                                <div class="input-icon">

                                    <input class="form-control" type="text" id="nom" name="nom" th:field="*{nom}" placeholder="Nom"/>
                                    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>

                                </div>
                            </div>
                        </div>



                        <div class="row kt-margin-b-20">
                            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                                <label style="font-weight: bold;" for="cognoms" th:text="#{Client.cognoms}">Cognoms:</label>    
                                <div class="input-icon">


                                    <input class="form-control"  type="text" id="cognoms" name="cognoms" th:field="*{cognoms}" placeholder="Cognoms"/>
                                    <span th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></span>

                                </div>
                            </div>
                            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                                <label style="font-weight: bold;" for="adreca" th:text="#{Client.adreca}">Adreça: </label>
                                <div class="input-icon">


                                    <input class="form-control" type="text" id="adreca" name="adreca" th:field="*{adreca}" placeholder="Adreça"/>
                                    <span th:if="${#fields.hasErrors('adreca')}" th:errors="*{adreca}"></span>

                                </div>
                            </div>
                        </div>





                        <div class="row kt-margin-b-20">
                            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                                <label style="font-weight: bold;" for="telefon" th:text="#{Client.telefon}">Telefon:</label>   
                                <div class="input-icon">

                                    <input class="form-control" type="tel" id="telefon" name="telefon" th:field="*{telefon}" placeholder="Telefón"/>
                                    <span th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></span>

                                </div>
                            </div>
                            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                                <label style="font-weight: bold;" for="codi_postal" th:text="#{Client.codiPostal}">Codi Postal:</label>
                                <div class="input-icon">

                                    <input class="form-control" type="number" id="codi_postal" name="codi_postal" th:field="*{codi_postal}" placeholder="Codi Postal"/>
                                    <span th:if="${#fields.hasErrors('codi_postal')}" th:errors="*{codi_postal}"></span>

                                </div>
                            </div>
                        </div>



                        <!--                                <label for="dni" th:text="#{Client.dni}">DNI: </label>
                        
                                                        <input type="text" id="dni" name="dni" th:field="*{dni}" placeholder="DNI"/>
                                                        <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>-->




                        <!--                        <label for="nom" th:text="#{Client.nom}">Nom:</label>
                        
                                                <input type="text" id="nom" name="nom" th:field="*{nom}" placeholder="Nom"/>
                                                <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>-->



                        <!--                        <label for="cognoms" th:text="#{Client.cognoms}">Cognoms:</label>
                                                                               <input type="text" class="form-control" name="Marca" id="marca" />
                        
                        
                                                <input type="text" id="cognoms" name="cognoms" th:field="*{cognoms}" placeholder="Cognoms"/>
                                                <span th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></span>-->



                        <!--                        <label for="adreca" th:text="#{Client.adreca}">Adreça: </label>
                                                                               <input type="text" class="form-control" name="Model" id="model"/>
                        
                        
                                                <input type="text" id="adreca" name="adreca" th:field="*{adreca}" placeholder="Adreça"/>
                                                <span th:if="${#fields.hasErrors('adreca')}" th:errors="*{adreca}"></span>-->






                        <!--                        <label for="telefon" th:text="#{Client.telefon}">Telefon:</label>
                                                                               <input type="text" class="form-control" name="Descripcio" id="descripcio" />
                        
                                                <input type="tel" id="telefon" name="telefon" th:field="*{telefon}" placeholder="Telefón"/>
                                                <span th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></span>-->





                        <!--                        <label for="codi_postal" th:text="#{Client.codiPostal}">Codi Postal:</label>
                                                                               <input type="number" class="form-control" name="Tipus_Equip_Id" id="tipus_equip_id"/>
                        
                                                <input type="number" id="codi_postal" name="codi_postal" th:field="*{codi_postal}" placeholder="Codi Postal"/>
                                                <span th:if="${#fields.hasErrors('codi_postal')}" th:errors="*{codi_postal}"></span>-->




                        <div  class="modal-footer">
                            <a th:href="@{/crearIncidencia}" th:text="#{accion.cancelar}" class="btn btn-secondary"></a>
                            <input type="submit" name="enviar" value="Guardar" class="btn btn-primary"/>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </body>
</html>