<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Crea Client</title>
        <meta charset="UTF-8"/>
    </head>
    <body>


        <section th:fragment="creaClient">

            <h1>Crea Client</h1>

            <div id="agregarCliente" class="modal fade">
                <div  class="modal-dialog modal-lg">

                    <div  class="modal-content">

                        <div class="modal-header bg-info text-white">

                            <h5 class="modal-title" th:text="#{Client.crearClient}">Crear Client</h5>
                            <button class="close" data-dismiss="modal">

                                <span>&times;</span>

                            </button>

                        </div>

                        <form th:action="@{/guardarClientCrear}" method="post" th:object="${client}">
                            <div  class="modal-body">

                                <div class="form-group">

                                    <label for="dni" th:text="#{Client.dni}">DNI: </label>
                                    
                                    <input type="text" id="dni" name="dni" th:field="*{dni}" placeholder="DNI"/>
                                    <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
                                    

                                </div>

                                <div class="form-group">

                                    <label for="nom" th:text="#{Client.nom}">Nom:</label>
                                  
                                    <input type="text" id="nom" name="nom" th:field="*{nom}" placeholder="Nom"/>
                                    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                                    

                                </div>

                                <div class="form-group">
                                    <label for="cognoms" th:text="#{Client.cognoms}">Cognoms:</label>
                                    <!--<input type="text" class="form-control" name="Marca" id="marca" />-->

                                    
                                    <input type="text" id="cognoms" name="cognoms" th:field="*{cognoms}" placeholder="Cognoms"/>
                                    <span th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></span>
                                </div>

                                <div class="form-group">


                                    <label for="adreca" th:text="#{Client.adreca}">Adreça: </label>
                                    <!--<input type="text" class="form-control" name="Model" id="model"/>-->
                                    
                                    
                                    <input type="text" id="adreca" name="adreca" th:field="*{adreca}" placeholder="Adreça"/>
                                    <span th:if="${#fields.hasErrors('adreca')}" th:errors="*{adreca}"></span>

                                </div>

                                <div class="form-group">


                                    <label for="telefon" th:text="#{Client.telefon}">Telefon:</label>
                                    <!--<input type="text" class="form-control" name="Descripcio" id="descripcio" />-->
                                    
                                    <input type="tel" id="telefon" name="telefon" th:field="*{telefon}" placeholder="Telefón"/>
                                    <span th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></span>

                                </div>

                                <div class="form-group">
                                    
                                    <label for="codi_postal" th:text="#{Client.codiPostal}">Codi Postal:</label>
                                    <!--<input type="number" class="form-control" name="Tipus_Equip_Id" id="tipus_equip_id"/>-->
                                    
                                    <input type="number" id="codi_postal" name="codi_postal" th:field="*{codi_postal}" placeholder="Codi Postal"/>
                                    <span th:if="${#fields.hasErrors('codi_postal')}" th:errors="*{codi_postal}"></span>
                                </div>

                            </div>

                            <div  class="modal-footer">
                                <button><a th:href="@{/crearIncidencia}" th:text="#{accion.cancelar}"></a></button>
                                <input type="submit" name="enviar" value="Guardar"/>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </section>

    </body>
</html>