<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuaris</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <section th:fragment="formulariUsuari">
            <div id="formulariUsuari" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header/*Color del header (cambiar)*/ bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.formulariUsuari}">Afegir Usuari</h5>
                        </div> 
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                </div>
                    <form th:action="@{/guardar}" th:object="${usuari}"
                        method="POST" class="was-validated">
                            <div class="modal-body">
                                <!-- Nom -->
                                <div class="form-group">
                                    <label for="nom" th:text="#{usuari.nom}">Nom:</label>
                                    <input type="text" class="form-control" name="nom" required="true">
                                </div>
                                
                                <!-- Cognoms -->
                                <div class="form-group">
                                    <label for="cognoms" th:text="#{usuari.cognoms}">Cognoms:</label>
                                    <input type="text" class="form-control" name="cognoms" required="true">
                                </div>
                                
                                <!-- Telefon -->
                                <div class="form-group">
                                    <label for="telefon" th:text="#{usuari.telefon}">Telèfon:</label>
                                    <input type="text" class="form-control" name="telefon" required="true">
                                </div>
                                
                                <!-- Adreça -->
                                <div class="form-group">
                                    <label for="adreca" th:text="#{usuari.adreca}">Adreça:</label>
                                    <input type="text" class="form-control" name="nom" required="true">
                                </div>
                                
                                <!-- Codi Postal -->
                                <div class="form-group">
                                    <label for="codipostal" th:text="#{usuari.codi.postal}">Codi Postal:</label>
                                    <input type="text" class="form-control" name="codipostal" required="true">
                                </div>
                                
                                <!-- Email -->
                                <div class="form-group">
                                    <label for="email" th:text="#{usuari.email}">Email:</label>
                                    <input type="text" class="form-control" name="email" required="true">
                                </div>
                                
                                <!-- Contrasenya -->
                                <div class="form-group">
                                    <label for="contrasenya" th:text="#{usuari.contrasenya}">Contrasenya:</label>
                                    <input type="text" class="form-control" name="contrasenya" required="true">
                                </div>
                                
                                <!-- Repetir Contrasenya -->
                                <div class="form-group">
                                    <label for="contrasenya2" th:text="#{usuari.contrasenya2}">Repetir contrasenya:</label>
                                    <input type="text" class="form-control" name="contrasenya2" required="true">
                                </div>
                            </div>
                        <div class="modal-footer">
                            <button class="bton bton-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                        </div>
                    </form>
            </div> 
        </section>
    </body>
</html>
