<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulari Gos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!--<header th:replace="layout/plantilla :: capcalera" />-->

        <h2>Crear Producte</h2>

        <!--<a th:href="@{/}">Inici</a>-->

        <p>
            <!-- Creem un formulari per introduir les dades que el ControladorInici 
                 assignarà als atributs del gos passat com a paràmetre en el mètode 
                 crearFormulariGos implementat en aquest ControladorInici. 
                 Per associar le dades a l'objecte gos, fem servir l'element th:objecte de 
                 Thymeleaf, al qual li assignem el paràmetre gos del mètode crearFormulariGos 
                 o editar del controlador.-->
        <form th:action="@{/guardarProducte}" method="post" th:object="${producte}">
            <input type="hidden" name="idProducte" th:field="*{idProducte}"/>
            <table style="width:35%">
                <tr>
                    <td><label for="nom">Nom</label></td>
                    <td><label for="marca">Marca</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="nom" th:field="*{nom}" placeholder="Nom del producte"/>
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"/>
                    </td>
                    <td>
                        <input type="text" name="marca" th:field="*{marca}" placeholder="Marca del producte"/>
                        <span th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"/>
                    </td>
                </tr>
                <tr>
                    <td><label for="preuCompra">Preu de compra</label></td>
                    <td><label for="preuVenda">Preu de venda</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="number" step="0.01" name="preuCompra" th:field="*{preuCompra}" placeholder="Preu de compra"/>
                        <span th:if="${#fields.hasErrors('preuCompra')}" th:errors="*{preuCompra}"/>
                    </td>
                    <td>
                        <input type="number" step="0.01" name="preuVenda" th:field="*{preuVenda}" placeholder="Preu de venda"/>
                        <span th:if="${#fields.hasErrors('preuVenda')}" th:errors="*{preuVenda}"/>
                    </td>
                </tr>

                <tr>
                    <td><label for="categoria">Categoria</label></td>
                </tr>
                <tr>
                    <td>
                        <select name="categoria" id="categoria" th:field="*{categoria}" th:each="categoria : ${categories}">
                            <option value="Processador">Processador</option>
                            <option value="PlacaBase">Placa Base</option>
                            <option value="Ram">Memoria RAM</option>
                            <option th:text="${categoria.nom}"></option>
                        </select>
                    </td>
                </tr>
            </table>

            <!-- Botó per enviar les dades-->
            <br>
            <input type="submit" name="cancelar"  value="Cancel·lar">
            <input type="submit" name="enviar" value="Guardar"/>

            <br><br><br>  
        </form>
    </p>

    <!--<footer th:replace="layout/plantilla :: peu" />-->

</body>
</html>
