<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inici dinàmic</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inici</h1>

        <!--Enllaç que ens portarà a la pàgina per poder afegir un gos.
            Mitjançant l'element th:href de Thymeleaf definim l'URL de l'enllaç. 
            A href li assignarem la ruta de l'enllaç mitjançan @{ruta}-->

        <a th:href="@{/formulariGos}">Afegir Gos</a>

        <h1>Llistat de gossos</h1>

        <div th:if="${gossos!=null && !gossos.empty}">

            <!-- Mostrem en una taula les dades del gossos guardats en la taula gossos de la BBDD veterinari -->
            <table border="1">
                <tr>
                    <th>Nom</th>
                    <th>Edat</th>
                    <th>Sexe</th>
                    <!--Columnes per afegir l'enllaç d'editar i eliminar el gos-->
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <!-- Recorregut dels gossos. Cada gos de l'ArrayList gossos es guarda en la variable gos-->
                <tr th:each="gos : ${gossos}"> 
                    <td th:text="${gos.nom}"></td>
                    <td th:text="${gos.edat}"></td>
                    <td th:text="${gos.sexe}"></td>
                    <!--Enllaç mitjançant el qual accedirem a la pàgina per editar el gos actual
                        al qual li correspon l'id que concatenem a l'URL editar-->
                    <td><a th:href="@{/editar/}+${gos.idgos}" th:text="Editar"/></td>
                    <!--Enllaç mitjançant el qual accedirem a la pàgina per eliminar el gos actual
                        al qual li correspon l'id que concatenem a l'URL d'eliminar-->
                    <td><a th:href="@{/eliminar/}+${gos.idgos}" th:text="Eliminar"/></td>
                    <!--<td><a th:href="@{/eliminar(idgos=${gos.idgos})}" th:text="Eliminar"/></td>-->
                </tr>
            </table>

        </div>

        <div th:if="${gossos==null || gossos.empty}"><!--Si l'ArrayList de gossos no està inicialitzat o no té contingut-->
            <!-- Mostrem missatge-->
            No hi ha gossos a la llista.
        </div>

    </body>
</html>
