<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HardwaRepair</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inici dinàmic HardwaRepair</h1>

        <h1>Gos</h1>

        <div th:if="${gossos!=null && !gossos.empty}">
            
            <!-- Mostrem en una taula les dades del gossos guardats en la taula gossos de la BBDD veterinari -->
            <table border="1">
                <tr>
                    <th>Nom</th>
                    <th>Edat</th>
                    <th>Sexe</th>
                </tr>
                <!-- Recorregut dels gossos. Cada gos de l'ArrayList gossos es guarda en la variable gos-->
                <tr th:each="gos : ${gossos}"> 
                    <td th:text="${gos.nom}"></td>
                    <td th:text="${gos.edat}"></td>
                    <td th:text="${gos.sexe}"></td>
                </tr>
            </table>
           
        </div>
        
        <div th:if="${gossos==null || gossos.empty}"><!--Si l'ArrayList de gossos no està inicialitzat o no té contingut-->
            <!-- Mostrem missatge-->
            No hi ha gossos a la llista.
        </div>

    </body>
</html>
