<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

        <title></title> <!-- AQUÍ VA EL TITULO DE LA PÁGINA

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <script src="../webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <link href="../webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>

    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}">HardwaRepair</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="bi bi-tools"></span>
                                    Incidencies
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="bi bi-box"></span>
                                    Productes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/llistarCategories}">
                                    <span class="bi bi-files"></span>
                                    Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/llistarUsuaris}">
                                    <span class="bi bi-person-circle"></span>
                                    Usuaris
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">Llistat Incidencies</h1> <!-- AQUÍ VA EL TITULO DEL FORMULARIO -->


                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <a th:href="@{/crearIncidencia}" type="button" >
                                    <button  class="btn btn-primary"th:text="#{accion.creaIncidencia}" ></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card">
                                <div  class="table-responsive" th:if="${incidencies!=null && !incidencies.empty}">
                                    <!--Realitzem una taula on mostrarem les categories trobades a la bbdd mitjançant un for each d'Incidències-->
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Id Incidència</th>
                                                <th>Data</th>
                                                <th>Reparador</th>
                                                <th>Tipus d'equip</th>
                                                <th>Tipus d'operacio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="incidencia : ${incidencies}">
                                                <td th:text="${incidencia.id_incidencia}"></td>
                                                <td th:text="${incidencia.data_creacio}"></td>
                                                <td th:text="${incidencia.reparador}"></td>
                                                
                                                <!--For eachs que segons el valor dels camps mostrara el nom del tipus o equip que es-->
                                                <td th:each="tipus_equip : ${tipus_equips}" th:if="${tipus_equip.id_tipus_equip == incidencia.tipus_equip}" th:text="${tipus_equip.nom}"></td>
                                                <td th:each="tipus_operacio : ${tipus_operacions}" th:if="${tipus_operacio.id_tipus_operacio == incidencia.tipus_operacio_id}" th:text="${tipus_operacio.nom}"></td>
                                                <td>
                                                    <div div class="badge bg-primary text-wrap" style="width: 6rem;">
                                                        <a th:href="@{/editarIncidencia/}+${incidencia.id_incidencia}" class="btn btn-primary">Detalls</a>
                                                    </div>
                                                </td>
                                            </tr> 
                                        </tbody>

                                    </table>
                                </div>
                                <!--If que mostra un avis dient que no hi han Incidències.-->
                                <div th:if="${incidencies==null || incidencies.empty}">
                                    <p>No hi ha Incidencies</p>
                                </div>

                            </div>

                        </div>

                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
