<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
    <head>
        <title>Incidencies</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Incidencies</h1>
        <!--<a th:href="@{/llistatIncidencies}" th:text="#{incidencia.llistatIncidencia}"></a>-->
<!--        If que mostra la taula segons si no es null-->

<button> <a th:href="@{/crearIncidencia}" th:text="#{accion.creaIncidencia}">Crea Incidencia</a> </button>
        <div th:if="${incidencies!=null && !incidencies.empty}">
            <!--Realitzem una taula on mostrarem les categories trobades a la bbdd mitjançant un for each d'Incidències-->
            <table border="1">
                <tr>
                    <th>Id Incidència</th>
                    <th>Data</th>
                    <th>Reparador</th>
                    <th>Tipus d'equip</th>
                    <th>Tipus d'operacio</th>
                </tr>
                <tr th:each="incidencia : ${incidencies}">
                    <td th:text="${incidencia.id_incidencia}"></td>
                    <td th:text="${incidencia.data_creacio}"></td>
                    <td th:text="${incidencia.reparador}"></td>
                    <td th:text="${incidencia.tipus_equip}"></td>
                    <td th:text="${incidencia.tipus_operacio_id}"></td>
                    <!--Boto que ens permet accedir als detalls de les incidències.-->
                    <td><a th:href="@{/editarIncidencia/}+${incidencia.id_incidencia}">Detalls</a></td>
                </tr>
            </table>
        </div>
        <!--If que mostra un avis dient que no hi han Incidències.-->
       <div th:if="${incidencies==null || incidencies.empty}">
            <p>No hi ha Incidencies</p>
        </div>
    </body>
</html>
