<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Selecció Equip</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="seleccioEquip">
            <div>
                <h1>Selecció Equip</h1>
            </div>
            
            <form th:action="@{/seleccioEquip}" method="POST" th:object="${Equip}" class="was-validated">
                <div  class="modal-body">

                    <div class="form-group">


                        <label for="numSerie" th:text="#{Equip.numSerie}">Num Serie:</label>
                        <input type="text" class="form-control" name="NumSerie" id="numSerie" list="items"/>

                        <datalist id="items">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </datalist>

                        <button class="btn btn-secondary" type="submit" th:text="#{accion.buscar}">Buscar</button>

                    </div>
                </div>
                <div  class="modal-footer">
                    <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                </div>
           </form>
        </section>
    </body>
</html>
